 body{
  height: 100%;
  width: 100%;
  background: URL(https://img.freepik.com/free-photo/texture-abstract-waving-red-fibers_23-2148066663.jpg?size=626&ext=jpg&uid=R89509410&ga=GA1.1.1223172560.1667930608&semt=ais)center no-repeat;
  background-size: cover;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
h1,
h4 {
  color: #2E3138;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #C2A881;
  padding:25px;
  opacity: 0.4;
}

.home-link{
  text-decoration: none;
  color: #2E3138;
}

.page-link{
  text-decoration: none;
  margin: 5px;
  justify-content: space-between;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

button{
  padding: 15px;
  background-color:#CAB68F;
  border-radius: 10px;
  width: 20%;
  border-color: #6A6FF5;
}

.went-wrong{
  color: red;
}

.error-page{
  color: blue;
}


.Homescreen{
  margin-top: 200px;
}

.HomeLink {
  text-decoration: none;
  color: cornsilk;
}

footer {
  margin-left: 85%;
  margin-top: 150px;
 
}

.list-group{
  margin-top: 150px;
}

.list-group-item{
  margin: 20px;
  text-align: center;
}

.counter{
  width: 4%;
  margin-left: 5px;
}

.App{
  margin-top: 270px;
  
}