html,
body {
  height: 100%;
  width: 100%;
  background: URL(https://img.freepik.com/free-photo/bokeh-background-with-grey-border_53876-127347.jpg?size=626&ext=jpg&ga=GA1.2.1223172560.1667930608&semt=sph)center no-repeat;
  background-size: cover;
  font-family: sans-serif;
  font-size: 20px;
}
h1,
h4 {
  color: #2E3138;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding:15px;
}

.home-link{
  text-decoration: none;
  color: #2E3138;
}

.page-link{
  text-decoration: none;
  margin: 5px;
  justify-content: space-between;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}